html,
body,
body > div {
  height: 100%;
  background-color: #eee;
  /* Gotham ScreenSmart Light */
  font-family: "MoiGoth", "MoiGotha", monospace;
  font-style: normal;
  font-weight: 300;
}
.layout{
  height: calc(100% - 7rem);
}